* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
html {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-container {
  /* background-color: #ccc; */
  width: 80%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.grid {
  height: 4.5rem;
  width: 4.5rem;
}
.alive {
  background-color: green;
  border: 1px solid black;
}
.dead {
  background-color: red;
  border: 1px solid black;
}

@media only screen and (max-width: 600px) {
  .grid {
    height: 1.85rem;
    width: 1.85rem;
  }
}
