* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
html {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: black;
}

.grid-container {
  /* background-color: #ccc; */
  width: 80%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.grid {
  height: 4.5rem;
  width: 4.5rem;
}
.alive {
  /* background-color: green; */
  /* border: 1px solid black; */
  background: rgba(39, 179, 118, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(128, 169, 181, 0.2);
  border-radius: 15%;
}
.dead {
  background: rgba(191, 33, 47, 0.85);
  backdrop-filter: blur(10px);
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(128, 169, 181, 0.2);
  border-radius: 15%;
}

@media only screen and (max-width: 600px) {
  .grid {
    height: 1.8rem;
    width: 1.8rem;
  }
}
